body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3b4664;
}

.calc-container {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.entry {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #181f32;
    color: white;
    height: 90px;
    border-radius: 12px;
    padding: 12px;
    font-size: 60px;
    font-weight: 900;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.btn.cmd {
    background-color: #647299;
    color: white;
    box-shadow: 0 4px #414d74;
}

.btn.symbol {
    font-size: 28px;
}

.row {
    display: flex;
    gap: 14px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.btn.equals {
    background-color: #d13f30;
    color: white;
    box-shadow: 0 4px #912315;
}

.btn {
    background-color: #eae3db;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3b4664;
    border: none;
    border-radius: 8px;
    height: 70px;
    width: 110px;
    font-size: 26px;
    font-weight: 900;
    flex: 1;
    box-shadow: 0 4px #b3a397;
}
